{% extends 'Base.html' %}
{% block content %}
    <head>

    </head>
    <body>
        <div>
            First Name:
            <input type="text"><br><br>
            Last Name:
            <input type="text"><br><br>
            Email Id:
            <input type="email" placeholder="@gmail.com"><br><br>
            Phone Number:
            <input type="number" ><br><br>
            Date of birth:
            <input type="date"><br><br>
            <button>Register</button>
        </div>
    </body>
{% endblock %}
